aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
lxml
motor
natsort
pillow
psutil
pycryptodome
pymongo
https://github.com/KurimuzonAkuma/pyrogram/archive/refs/tags/v2.1.19.zip
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
urllib3
uvloop
xattr
yt-dlp
